
<ion-view view-title="Auditionee">
  <ion-content class="padding">
    <div class="list card">
      <div class="item center-text">
        <h1 style="text-align: center">{{auditionee.name}}</h1>
        <h2 style="text-align: center">{{auditionee.gender}}, {{auditionee.age}} years old</h2>
        <h2 style="text-align: center">{{auditionee.vocals}}</h2>
      </div>
    </div>
    <div class="list card">
      <div class="item center-text">
        <h2>Score: {{auditionee.score}}</h2>
      </div>
    </div>
    <div class="list card">
      <div class="item center-text">
        <h2>Role: {{auditionee.role}}</h2>
      </div>
    </div>
    <div class="list card">
      <div class="item center-text">
        <h2 style="white-space: initial">Notes: {{auditionee.notes}}</h2>
      </div>
    </div>
  </ion-content>
</ion-view>
