<ion-view view-title="More Info">
  <ion-content class="padding">
    <h2 class="title-dash">App by Rosalee Hacker</h2><br>
    <h4 class="desc-dash">I wanted to provide you with some more information about this project.</h4>
    <h4 class="desc-dash">I really enjoyed making this app. There was some additional functionality I wanted to implement within this app but I couldn't. I tried to make it so that you could add a show, then all the auditionees would be added behind that. I tried but after 6 hours of trying to make it work, I gave up and made this app primarily just for auditionees. I made the the auditionee design and implementation as close to my primary design as possible.</h4>
    <h4 class="desc-dash">I want to keep trying to figure out the show thing if I have more time. With what I have, I learned so much about design, Angular and SQLite. I've spent over 12 hours on this app so far, and I'm pretty happy with the results. I hope you enjoy it!</h4>
  </ion-content>
</ion-view>
