
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-ios-musical-notes" icon-on="ion-ios-musical-notes" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Auditionee Tab -->
  <ion-tab title="Auditionees" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/select">
    <ion-nav-view name="tab-select"></ion-nav-view>
  </ion-tab>

  <!-- Insert Tab -->
  <ion-tab title="New" icon-off="ion-ios-personadd-outline" icon-on="ion-ios-personadd" href="#/tab/insert">
    <ion-nav-view name="tab-insert"></ion-nav-view>
  </ion-tab>

  <!-- Help Tab -->
  <ion-tab title="More Info" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/help">
    <ion-nav-view name="tab-help"></ion-nav-view>
  </ion-tab>
</ion-tabs>
